<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }
</style>
<body style="background-color: aliceblue">

<div class="w3-bar w3-top w3-large" style="z-index:4; background-color:#0f3057; height: 8%">
    <h1 class="w3-left"
        style="color: white; font-family: 'Baskerville Old Face' ; position: relative; margin-left:10px"> Mood Of The
        Month</h1>
    <img src="/assets/logo_mini.png" class="w3-right" style="height: 90%; margin-top: 3px; margin-right: 0">
</div>

<nav class="w3-sidebar w3-collapse w3-white w3-animate-left shadow-sm" style="z-index:3;width:300px;background-color: #e7e7de"
     id="mySidebar"><br>
    <div class="w3-container w3-row">
        <div class="w3-col s8 w3-bar" style="margin-top: 10px">
            <span>    Bienvenue, <strong>Administrateur</strong></span><br>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>Menu</h5>
    </div>
    <div class="w3-bar-block">
        <a href="/statistics" class="w3-bar-item w3-button w3-padding" style="background-color: #00587a;color:white"><i
                class="fa fa-bar-chart-o fa-fw"></i> Statistiques</a>
        <a href="/user-list" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i> Utilisateurs</a>
        <a href="/add-survey" class="w3-bar-item w3-button w3-padding"><i class="fa fa-plus fa-fw"></i> Ajouter un
            sondage</a>
        <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i> Voir sondage en cours</a>
    </div>
</nav>


<div class="container-fluid"
     style="width:75%;height:100%;margin-left:310px;margin-top:43px; padding-top: 50px; padding-bottom: 50px">
    <div class="card shadow-sm" style="border-color: white; border-radius: 0px; margin-top: 30px">
        <div class="card-body">
            <div *ngIf="!mainSurvey" style="align-content: center; justify-content: center">
                <h1 style="text-align: center">Vous n'avez pas de sondage en cours ! </h1>
                <h5 style="text-align: center">Créez-en un !</h5>
            </div>
            <div>
                <h1 style="text-align: center">{{mainSurvey.title}}</h1>
                <h5 style="text-align: center">{{mainSurvey.description}}</h5>
            </div>
            <div>
                <select (click)="selectChangeHandler($event)" id="mood" class="browser-default custom-select"
                        name="mood" style="margin-bottom: 20px">
                    <option *ngFor="let surv of reverseSurveys.reverse(); let i = index" > {{surv.title}} </option>
                </select>
            </div>
        </div>
    </div>


    <!-- CHIFFRES CLES -->
    <div class="container-fluid" style="margin-top: 20px; margin-bottom: 20px">
        <div class="row" style="height: 50px; padding-left: 0">
            <div class="col" style="padding-left: 0 ; padding-right: 0">
                <div class="card shadow-sm" style="border-color: white; border-radius: 0px; height: 100%">
                    <div class="row no-gutters">
                        <div class="col-3"
                             style="text-align: center; padding-top:15px; background-color: #0f3057; color: white">
                            <i class="fa fa-star w3-xxxlarge"></i>

                        </div>
                        <div class="col-5" style="text-align: center;  margin: 0 auto">
                            <div *ngIf="!mainSurvey.questions[0].answers.length">
                                <h3>0 / 5</h3>
                            </div>
                            <div *ngIf="mainSurvey.questions[0].answers.length">
                                <h3>{{averageResponseList[0]}} / 5</h3>
                            </div>
                            <h4 style="font-size: 15px">Moyenne</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="border-color: white; border-radius: 0px; height: 100%">
                    <div class="row no-gutters">
                        <div class="col-4"
                             style="text-align: center;padding-top:15px; background-color: #00587a; color: white">
                            <i class="fa fa-comment w3-xxxlarge"></i>

                        </div>
                        <div class="col-5" style="text-align: center;  margin: 0 auto">
                            <h3 *ngIf="mainSurvey.questions[0].answers.length">{{mainComments.length}}</h3>
                            <h3 *ngIf="!mainSurvey.questions[0].answers.length">0</h3>
                            <h4 style="font-size: 15px">Commentaires</h4>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col" style="padding-right: 0">
                <div class="card shadow-sm" style="border-color: white; border-radius: 0px; height: 100%">
                    <div class="row no-gutters">
                        <div class="col-4 w3-teal"
                             style="text-align: center; padding-top:15px; background-color: #0f3057; color: white">
                            <i class="fa fa-users w3-xxxlarge"></i>

                        </div>
                        <div class="col-5" style="text-align: center;  margin: 0 auto">
                            <h3 *ngIf="mainSurvey.questions[0].answers.length">{{mainSurvey.comments.length}}</h3>
                            <h3 *ngIf="!mainSurvey.questions[0].answers.length">0</h3>
                            <h4 style="font-size: 15px">Participants</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- TENDANCES DU MOIS -->
    <div class="container-fluid" style="margin-top: 50px; margin-bottom: 20px">
        <div class="row" style="height: 300px">
            <div class=" col col-4" style="padding-left: 0; padding-right: 10px">
                <div class="card shadow-sm" style="border-color: white; border-radius: 0px; height: 100%">
                    <div class="card-header" style="text-align: center; background-color: white">
                        <h5><i class="fa fa-thermometer"></i> <strong> Tendance du mois</strong></h5>
                    </div>
                    <div class="card-body">
                        <div style="width:100%; height:100%; text-align:center; padding-top: 20px">
                            <div *ngIf="!mainSurvey.questions[0].answers.length" style="text-align: center; justify-content: center">
                                <h3>Pas de réponse pour l'instant ! </h3>
                            </div>
                            <img *ngIf="mainSurvey.questions[0].answers.length" src={{image}} style="margin-left: auto;margin-right: auto; width: 150px">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-8" style="padding-right: 0; padding-left: 10px">
                <div class="card shadow-sm" style="border-color: white; border-radius: 0px; height: 100%">
                    <div class="card-header" style="text-align: center; background-color: white">
                        <h5><i class="fa fa-commenting"></i><strong> Commentaires</strong></h5>
                    </div>
                    <div class="card-body">

                            <div style="overflow: auto; max-height: 200px;">
                                <div *ngIf="!mainComments.length" style="text-align: center; justify-content: center">
                                    <h3>Pas de réponse pour l'instant ! </h3>
                                </div>
                                <div *ngFor="let comment of mainComments">
                                    <h5 style="font-size: 14px">{{comment}}</h5>
                                    <hr style="margin-top: 5px; margin-bottom: 2px"/>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CHART-->
    <div class="container-fluid" style="margin-top: 20px;margin-bottom: 20px">
        <div class="row" style="height: 500px">
            <div class="card shadow-sm" style="border-color: white; border-radius: 0px;height: 100%; width: 100%">
                <div class="card-header" style="text-align: center; background-color: white">
                    <h5><b><i class="fa fa-bar-chart-o"></i> Statistiques : {{mainSurvey.questions[0].text}}</b></h5>
                </div>
                <div>
                    <div>
                        <canvas id="myChart" height="400px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-sm" style="border-color: white; height: 360px; border-radius: 0px; margin-top: 30px">
        <div class="card-header" style="text-align: center; background-color: white">
            <h5><b><i class="fa fa-question-circle-o"></i> Questions supplémentaires</b></h5>
        </div>
        <div class="card-body card-container" style=" width: 100%; height: 100% ">
            <div class="row flex-row flex-nowrap">
                <div *ngFor="let question of mainSurvey.questions;let i = index">
                    <div class="col-auto" style="height: 100%; width: 350px; margin: 10px; text-align: center">
                        <div class="card">
                            <div class="card-header" style="white-space: normal; background-color: aliceblue">
                                <h6>{{question.text}}</h6>
                            </div>
                            <div *ngIf="mainSurvey.questions[0].answers.length" class="card-body">
                                <h3>{{averageResponseList[i]}} / 5</h3>
                            </div>
                            <div *ngIf="!mainSurvey.questions[0].answers.length" class="card-body">
                                <h3>0 / 5</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="container-fluid" style="margin-top: 40px;margin-bottom: 20px; width: 100%">
        <div class="row" style="height: 500px">
            <div class="card shadow-sm" style="border-color: white; border-radius: 0px;height: 100%; width: 100%">
                <div class="card-header" style="text-align: center; background-color: white">
                    <h5><b><i class="fa fa-bar-chart-o"></i> Evolution de la moyenne des derniers sondages </b></h5>
                </div>
                <div class="card-body">
                    <div>
                        <canvas id="LineChart" height="400px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
</div>

<script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }
</script>


</body>
<script src="bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</html>
