#divChart{
    display: block;
}

.main-container{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background: aliceblue;

}

.scrollable >.row {
overflow-x: auto;
    white-space: nowrap;
}

 .scrollable > .row > .col-auto {
display: inline-block;
     float: none;
 }

  .card-container {
width: 1000px;
      overflow-x: scroll;
      display: flex;
      padding: 3rem;
  }

