.body{
    background-color: aliceblue;
    padding-bottom: 100px;
}
.w3-bar {
    height: 50px;
}

.w3-sidebar{
    width:300px;
    background-color: #e7e7de;
}

.card-header {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color:#008891;
    color: white;
}

