<!DOCTYPE html>
<html>

<meta charset = "UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>


<body style="background-color: aliceblue; padding-bottom: 100px; height: 100%; padding-bottom: 20%">
<div class="w3-bar w3-top w3-large" style="z-index:4; background-color:#0f3057;">
  <span class="w3-bar-item w3-right" style="color: white"><strong>MOTM</strong></span></div>

<nav class="w3-sidebar w3-white w3-collapse w3-animate-left" style="z-index:3;width:20%;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>    Bienvenue, <strong>Administrateur</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container" >
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
    <a href="/statistics" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bar-chart-o fa-fw"></i> Statistiques</a>
    <a href="/user-list" class="w3-bar-item w3-button w3-padding" style="background-color: #00587a;color:white"><i class="fa fa-users fa-fw"></i> Utilisateurs</a>
    <a href="/add-survey" class="w3-bar-item w3-button w3-padding"><i class="fa fa-plus fa-fw"></i> Ajouter un sondage</a>
    <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i> Voir sondage en cours</a>
  </div>
</nav>


<div class="container-fluid" style="width:60%;height:100%;margin-left:30%;margin-top:43px;padding-top: 50px">
  <div class="card" style="margin-top: 100px;align-self: center">
    <div class="card-header"> Ajout d'un utilisateur </div>
    <div class="card-body" style="padding-right: 5%">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
        <div class="form-group">
          <label style="margin-top: 20px" for="name">
            Nom et Prénom
          </label>
          <input type="text" id="name" class="form-control"  name="name" ngModel required/>
        </div>
        <div class="form-group">
          <label style="margin-top: 20px" for="mail">
            Adresse-mail
          </label>
          <input type="email"  placeholder="Mail" id="mail" class="form-control" name="mail" ngModel required/>
        </div>
        <div class="form-group">
          <label style="margin-top: 20px" for="date">
            Date de Naissance
          </label>
          <input type="date" id="date" class="form-control" name="date" ngModel required/>
        </div>
        <button class="btn btn-info" role="button" type="submit"style="margin-left:90%;margin-bottom: 10px" >Enregistrer</button>
      </form>
    </div>
  </div>

</div>
</body>
</html>
<!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
    This is a success alert—check it out!
  </div> -->
