<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<body>
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <span class="w3-bar-item w3-right">MOTM</span>
</div>
<nav class="w3-sidebar w3-collapse w3-sand w3-animate-left" style="z-index:3;width:300px;background-color: #fdf5e6" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>    Bienvenue, <strong>Administrateur</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
    <a href="/statistics" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bar-chart-o fa-fw"></i> Statistiques</a>
    <a href="/user-list" class="w3-bar-item w3-button w3-padding" style="background-color: #005c78;color:white"><i class="fa fa-users fa-fw"></i> Utilisateurs</a>
    <a href="/add-survey" class="w3-bar-item w3-button w3-padding"><i class="fa fa-plus fa-fw"></i> Ajouter un sondage</a>
    <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i> Voir sondage en cours</a>
  </div>
</nav>
<div class="container-fluid" style="width:78%;height:100%;margin-left:300px;margin-top:43px;margin-bottom: 40px;padding-top: 50px">
  <div class="card" >
    <div class="card-header" style="background-color:#ab2346"> Liste des utilisateurs </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-hover">
        <thead class="thead">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom et Prénom</th>
          <th scope="col">Mail</th>
          <th scope="col">Date de Naissance</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.mail}}</td>
          <td>{{user.date}}</td>
          <td>
            <button type="button" class="btn btn-danger deleteButton" style="" (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <a class="btn btn-info" href="/add-user" role="button" style="align-self: end;margin-right: 20px;margin-bottom: 10px">Ajouter utilisateur</a>
  </div>

</div>
</body>
</html>

