.body{
    background-color: aliceblue;
    padding-bottom: 100px;
}


.w3-bar {
    height: 50px;
}

.w3-sidebar{
    width:300px;

}



.card-header {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.alert{
    margin-top: 20px;
}
