.body{
    background-color: aliceblue;
    padding-bottom: 100px;
}


.w3-bar {
    height: 50px;
}

.w3-sidebar{
    width:300px;

}

.modal-backdrop{
    background-color: rgba(203, 214, 219, 0.9);
}

.card-header {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.alert{
    margin-top: 20px;
}


.required:after {
    content:"*";
    color:red;
    font-size: 18px;
}
