.hr {
    color: #333333;
}

.card-header {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color:white;
    background-color: #008891;
}

.required:after {
    content:"*";
    color:red;
    font-size: 18px;
}



