

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

.purple-border textarea {
    border: 1px solid lightgray;
}


/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

.container {
    max-width: 1200px;
}

.label {
    font-size: 20px;
    margin-bottom: 10px;
}




.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background: aliceblue;


}

.wrap-contact100 {
    width: 700px;
    min-height: 800px;
    background: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    overflow: hidden;

}


/*------------------------------------------------------------------
[ Form ]*/

.contact100-form {
    width: 100%;
}

.contact100-form-title {
    display: block;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}

a:hover {
    background-color: darkgrey;

}

.modal-backdrop {
    background-color: rgba(0,0,0,.0001) !important;

}

.modal-backdrop-co {
    background-color: rgba(203, 214, 219, 0.9);
}



.required:after {
    content:"*";
    color:red;
    font-size: 18px;
}























